source https://nuget.org/api/v2
source https://vrvis.myget.org/F/aardvark_public/api/v2

nuget Aardvark.Base.Incremental        ~> 1.6.52
nuget Aardvark.Rendering.Interactive   ~> 1.7.4

group Build
content: none
source http://nuget.org/api/v2

github vrvis/Aardvark.Fake:standalone